table {
    border: 7px solid brown;
    border-collapse: collapse;
}
th {
    border: 5px solid blue;
    text-align: center;
    color:blue;
}
td.Prin {
    border: 4px solid gray;
    text-align: center;
    color: gray;
}
td {
    border: 2.5px solid cadetblue;
    text-align: center;
    color:cadetblue;
}